*{
    padding: 0;
    margin: 0;
}
body{
    
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  
  font-weight: bold;
    align-items: center;
}
.container{
    padding-top: 10% ;
    padding-bottom: 15% ;
}
.container_esconde{
  padding: 15px;
  text-align: center;  
}
.esconde{
  display: none;
}
h1{
    text-align: center;
    font-size: 5em;
    text-shadow: 2px 2px 2px gray;
    text-decoration: underline;
    font-weight: bold;
    margin: 0;
}
h2{
    text-decoration: none; 
    color: black;   
    text-align: center;    
    font-size: 2em; 
    text-decoration-line: none;   
}
h3{
    text-decoration: none; 
    color: black;   
    text-align: center;    
    font-size: 2em; 
    text-decoration-line: none;   
}
.header{
  display: flex;
  flex-direction: row;    
  color: black; 
  margin-top: 20px;
  font-size: 2em;    
  margin: 0;
}
.head__volta{
  text-decoration-line: none;
  color: black;
  align-items: left; 
  padding-left: 0;
  padding-right: 40em;  
}
.head__vai{
  text-decoration-line: none;
  color: black;
  align-items: left; 
  padding-left: 0;  
}
.head__volta:active{
  color: orangered;
  text-decoration-line: none;
}
.head__volta:hover{
  color: orangered;
}
.head__vai:active{
  color: orangered;
  text-decoration-line: none;
}
.head__vai:hover{
  color: orangered;
}
button {    
    border:none;
    background-color: rgb(150, 150, 240);
    color: whitesmoke;
    width: 60px;
    font-weight: bold;
    padding: 8px; 
    height: 100px;
    width: 100px;
  }
  .botao_esconde{
    border: 10px;
    border-color: black;
    border-radius: 10%;
    box-shadow: 1px 1px 3px black;
    background-color: gray;
    font-size: 1em;
    width: 150px;
  }
  .botao_foot{
    text-decoration: none;
    font-size: .5em;
    color: black;
  }
  .botao_foot:hover{
    color: orange;
  }
  .checkbox{ 
    margin-left: 200px;    
    width: 200px;
    height: 70px;
    align-items: center;
  }
  .botaoativ5{
    border: 5px black;
    background-color: antiquewhite;
    border-radius: 30%;
  }
  #botaoVermelho{
    background-color: red;
    margin-right: 100px;
    margin-left: 30%;
  }
  #botaoVerde{
    background-color: green;
    margin-right: 100px;
  }
  #botaoAzul{
    background-color: blue;
    margin-right: 100px;
  }
  #botaoAmarelo{
    background-color: yellow;
    margin-right: 100px;
    
  }
  .Vermelho{
    background-color: red;
    transition: all 0.5s ease-in-out;
  }
  .Verde{
    background-color: green;
    transition: all 0.5s ease-in-out;
  }
  .Azul{
    background-color: blue;
    transition: all 0.5s ease-in-out;
  }
  .Amarelo{
    background-color: yellow;
    transition: all 0.5s ease-in-out;
  }
  .Branco{
    background-color: whitesmoke;
    transition: all 0.5s ease-in-out;
  }
  .selecaoCores{
    font-weight: bold;
    font-size: 1em;
  }
  .botaoInput{
    color: black;  
    background-color: azure;      
    cursor: pointer;    
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    width: 120px; 
    border: 3;
  }
  footer{
    font-size: 2em;
    text-decoration: none;
    border: 2px;
    border-radius: 30%;  
    
}